.siginupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupBtn {
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.headerText {
    font-size: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
}